 {% extends '../base.html' %} {% block title %} Oferty {% endblock title %} {% block content %}




<div class="container">
    <div class="row">
        <div class="section-subtitle">

            <div class="row">
                <div class="col-md-3 col-sm-6">

                    <form type="get" action="." class="form-dropdown">
                        <div class="form-group">
                            <label for="destination">Wybierz cel:</label>
                            <select class="form-control border-radius" id="destination" name="destination" value="{{destination}}" placeholder="Cel">
                                  {% for option in options %}
                            <option value="{{option}}"    {% if option == destination %}selected="selected"{% endif %}>{{option}}</option>
                            {% endfor %}
						</select>
                        </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <input type="text" class="form-control border-radius" id="date_from" value="{{date_from}}" name="date_from" placeholder="Od">
                </div>

                <div class="col-md-3 col-sm-6">
                    <input type="text" id="date_to" name="date_to" class="form-control border-radius " value="{{date_to}}" placeholder="Do">
                </div>

                <div class="col-md-3 col-sm-6">
                    <button type="submit" class="btn btn-default border-radius custom-button">
                        Szukaj
                    </button>

                </div>
                </form>

            </div>
        </div>
    </div>



    <div class="row">
        <table class="table table-striped table-hover">
            <thead>
                <th>Skąd</th>
                <th>Dokąd</th>
                <th>Od</th>
                <th>Do</th>
                <th>Cena </th>


            </thead>
            <tbody>
            {% for offer in offers_list %}
            <tr id={{offer.id}}>
                <td>{{ offer.departure }}</td>
                <td>{{ offer.destination }}</td>
                <td>{{ offer.date_from }}</td>
                <td>{{ offer.date_to }}</td>
                <td>{{ offer.price }} zł</td>


            </tr></tbody>
            {% endfor %} </table>
        <a href="/offers" class="btn btn-default border-radius custom-button">
                        Pokaż wszystko
                    </a>
        <!-- /.row -->
    </div>
    {% if relations_list.has_other_pages %}
    <div class="row">
        <ul class="pagination pull-right">
            {% if relations_list.has_previous %}
            <li><a href="?page={{ relations_list.previous_page_number }}">&laquo;</a></li>
            {% else %}
            <li class="disabled"><span>&laquo;</span></li>
            {% endif %} {% for i in relations_list.paginator.page_range %} {% if relations_list.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span>
            </li>
            {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %} {% endfor %} {% if relations_list.has_next %}
            <li><a href="?page={{ relations_list.next_page_number }}">&raquo;</a></li>
            {% else %}
            <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    </div>
    {% endif %}
</div>

<!-- /.container -->
{% endblock content %} {% block scripts %}
<script>
    $(function () {
        $("#date_to").datepicker(
            {
                dateFormat: "yy-mm-dd"
            })
    });
    $(function () {
        $("#date_from").datepicker(
            {
                dateFormat: "yy-mm-dd"
            })
    });

    $( document ).ready(function() { $('.table > tbody > tr').click(function (e) {
        window.location.href = '/offers/' + e.target.parentNode.id;
    });})
</script>
{% endblock scripts %}