 {% extends '../base.html' %} {% block title %} {{ offer.departure }} - {{ offer.destination }} {% endblock title %} 
 {% block content %}

<div class="row">
    <div class="col-xs-8">
        <dl class="dl-horizontal">
            <dt>Skąd: </dt>
            <dd>{{ offer.departure }}</dd>
            <dt>Dokąd: </dt>
            <dd>{{ offer.destination }}</dd>
            <dt>Od: </dt>
            <dd>{{ offer.date_from }}</dd>
            <dt>Do: </dt>
            <dd>{{ offer.date_to }}</dd>
        </dl>
    </div>
    <div class="col-xs-4">
        <h2>{{ offer.price }} zł</h2>
    </div>
</div>

<div class="row">
    <div class="col-xs-12" >
     {{ data }}
        <p class="text-justify" style="padding: 0 20px 0 20px">
        {{ offer.description }}
        </p>
    </div>
</div>
<div class="col-xs-12">
    <form method="POST" action="/offers/sendmail/">
    {% csrf_token %}
    <input type="number" name="offerId"  value={{offer.id}} hidden>
    <div class="input-group" style="margin-top: 30px">		
						 	<input class="form-control border-radius border-right" name="email" type="email" placeholder="Twój adres e-mail" required="">
						 	<span class="input-group-addon  border-radius custom-addon">
								<i class="ion-email"></i>
							</span>
						</div>
    <div class="input-group" style="margin-top: 30px" >
        <textarea class="form-control border-radius border-right" rows="8" name="text" placeholder="Treść zapytania"></textarea>
        <span class="input-group-addon border-radius custom-addon">
								<i class="ion-chatbubbles"></i>
							</span>
    </div>
    <button type="submit" class="btn btn-default border-radius custom-button">Wyślij zapytanie </button>
    </form>
</div>


{% endblock %}