 {% extends '../base.html' %} 
{% block title %}
{{ relation.title }} 
 {% endblock title %}
 {% block content %}
<div class="container">
      <div class="pull-right">
            <small>{{ relation.creation_date }}</small>

            <p> Dodano przez: {{relation.user }}</p>
      </div>
      <div class="row">
            <div class="col-xs-12">
                  <div>
                        {{relation.text | safe}}
                  </div>
            </div>

      </div>

</div>

{% endblock content %}