{% extends '../base.html' %}
{% block title %}
Dodaj relację
{% endblock title %}
 {% block content %}
<div class="container">
    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %} {{ form.media }} {{ form.as_p }}
        <input type="submit" value="Save" />
    </form>
</diV>  
{% endblock content %}