{% extends '../base.html' %} {% block title %} Relacje z podróży {% endblock title %} {% block content %}




<div class="container">
  <div class="row">
    <div class="section-subtitle">

      <div class="col-xs-4 col-xs-offset-4">
        <form type="get" action=".">
          <div class="input-group">
            <input id="search" class="form-control border-radius" type="text" name="search" value="{{search}}" placeholder="Wprowadź tag">
            <span class="input-group-btn">
							<button class="btn btn-default border-radius custom-sub-btn" id="search-submit" type="submit">Szukaj</button>
						</span>
          </div>
        </form>
      </div>
      <div class="col-xs-4 pull-right">
        <div class="pull-right">
          {% if user.is_authenticated %}
          <a href="{% url 'relation_add' %}" class="btn btn-primary border-radius custom-button">Dodaj relacje</a> 
          {% endif %}
        </div>

      </div>
    </div>

  </div>


  <div class="row">
    {% for relation in relations_list %}
    <a href="{% url 'relation_detail' pk=relation.id %}">
      <div class="col-sm-3 col-xs-6">
        <div class="trip">
          <img src="{{ relation.image.url }}" class="img-responsive trip-img">
          <h3> {{ relation.title }} </h3>
          <p class="trip-detail">
            <p>{{ relation.created_date }}</p>
          </p>
        </div>
      </div>
    </a>


    {% endfor %}
    <!-- /.row -->
  </div>
  {% if relations_list.has_other_pages %}
  <div class="row">
    <ul class="pagination pull-right">
      {% if relations_list.has_previous %}
      <li><a href="?page={{ relations_list.previous_page_number }}">&laquo;</a></li>
      {% else %}
      <li class="disabled"><span>&laquo;</span></li>
      {% endif %} {% for i in relations_list.paginator.page_range %} {% if relations_list.number == i %}
      <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span>
      </li>
      {% else %}
      <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %} {% endfor %} {% if relations_list.has_next %}
      <li><a href="?page={{ relations_list.next_page_number }}">&raquo;</a></li>
      {% else %}
      <li class="disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
  </div>
  {% endif %}
</div>

<!-- /.container -->
<!-- /.Additional-services -->
{% endblock content %}

