<!DOCTYPE html>
<html class="noIE" lang="en-US">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
  <title>EPodróze</title>

  <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/assets/css/ionicons.min.css">
  <link rel="stylesheet" href="/static/assets/css/owl.carousel.css">
  <link rel="stylesheet" href="/static/assets/css/owl.theme.css">
  <link rel="stylesheet" href="/static/assets/css/flexslider.css" type="text/css">
  <link rel="stylesheet" href="/static/assets/css/main.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
        <a class="navbar-brand" href="/" title="HOME"><i class="ion-paper-airplane"></i> E <span>podróże</span></a>
      </div>
      <!-- /.navbar-header -->

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/relations">Relacje</a></li>
          <li><a href="/offers">Oferty</a></li>
          {% if user.is_authenticated %}
          <li><a href="/accounts/logout">Wyloguj</a></li>

          {% else %}
          <li><a href="/accounts/login/">Zaloguj</a></li>

          {% endif %}

        </ul>
        <!-- /.nav -->
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>

  <section class="section-background">
    <div class="container">
      <h2 class="page-header">
        {% block title %} {% endblock %}
      </h2>
    </div>
    <!-- /.container -->
  </section>
  <section class="section-wrapper">
    <div class="container">

      {% block content %} {% endblock %}
    </div>
  </section>


  <div class="subscribe section-wrapper">
    <a class="brand-logo" href="index.html" title="HOME"><i class="ion-paper-airplane"></i> E <span>Podróże</span></a>

    <div class="container">



      <ul class="social-icon" >
<li><a href="#"><i class="ion-social-twitter"></i></a></li>
<li><a href="#"><i class="ion-social-facebook"></i></a></li>
<li><a href="#"><i class="ion-social-linkedin-outline"></i></a></li>
<li><a href="#"><i class="ion-social-googleplus"></i></a></li>
</ul>
</div>
</div>
<!-- /.subscribe -->


<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <div class="text-left">
          &copy; E podróże
        </div>
      </div>
      <div class="col-xs-4">
        Wykonanie: Aleksander Bronowicki
      </div>

    </div>
  </div>
</footer>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/static/assets/js/bootstrap.min.js"></script>
<script src="/static/assets/js/owl.carousel.min.js"></script>
<script src="/static/assets/js/contact.js"></script>
<script src="/static/assets/js/jquery.flexslider.js"></script>
<script src="/static/assets/js/script.js"></script>
{% block scripts %} {% endblock scripts %}




</body>

</html>